<h2>Conversor de Medidas</h2>
  <br>
  <h3>Digite um Valor em <b>Metros</b></h3>
  <br>
  <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" [(ngModel)]="convertevalor">
  <br>
  <button type="button" class="btn btn-primary" (click)="convertmedida()">Converter</button>
  <br>
  <h3>Conversão de metros para centimetros <b>{{valorcm}}</b></h3>
  <h3>Conversão de metros para milimetros <b>{{valorml}}</b></h3>
  <h3>Conversão de metros para kilometros <b>{{valorkm}}</b></h3>

  
